.bg-site-purple {
  background-color: #0e0b2b;
}
.badge-light-purple {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000;
}
.color-light-purple {
  color: rgba(255, 255, 255, 0.7);
} /*#008aff*/
.color-white {
  color: white;
}
.myCard {
  height: 25em;
  overflow-y: scroll;
  scrollbar-width: 3px;
  scrollbar-color: red blue;
  scrollbar-track-color: green;
}
